// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// mixins
@mixin bp($name) {
  @if $name == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $name == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $name == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $name == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

// common
a,
button {
  &:hover {
    opacity: 0.7;
  }
}

.copyright {
  display: inline-block;
  color: white;

  &__link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 0;
    @include bp(md) {
      padding: 0.8rem 0;
    }
    @include bp(sm) {
      padding: 0.6rem 0;
    }
  }
}

// main
.tool {
  &__item-field-wrap,
  &__item-label-wrap {
    display: flex;
  }

  &__item-label-wrap {
    @include bp(md) {
      background-color: #339a89;
    }
  }

  &__item {
    width: 50%;
    @include bp(md) {
      position: absolute;
      left: -100%;
      width: 100%;
    }
    &.active {
      @include bp(md) {
        position: static;
      }
    }

    &-label {
      background-color: #339a89;
      color: white;
      padding: 0.5rem;
      display: block;
      font-family: "Roboto", sans-serif;
      width: 50%;
      &.active {
        @include bp(md) {
          background-color: #26695e;
        }
      }
      @include bp(md) {
        max-width: 150px;
        text-align: center;
        border: solid 1px black;
        border-left: none;
      }
    }
    &-field {
      width: 100%;
      height: 90vh;
      overflow: scroll;
      padding: 2rem;
      border: none;
    }
    &-output {
      font-family: "Roboto", sans-serif;
      line-height: 1.4;
      border-left: solid black 1px;
    }
  }
}
