// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// mixins
@mixin bp($name) {
  @if $name == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $name == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $name == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $name == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

// common
a,
button {
  &:hover {
    opacity: 0.7;
  }
}

.copyright {
  display: block;
  color: white;
  width: 100%;
  background-color: #339a89;
  text-align: center;
  position: fixed;
  bottom: 0;

  &__link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 0;
  }
}

// main
html {
  overflow: hidden;
}
.tool {
  &__item-field-wrap,
  &__item-label-wrap {
    display: flex;
  }

  &__item-label-wrap {
    position: fixed;
    width: 100vw;
    top: 0;
    @include bp(md) {
      background-color: #339a89;
    }
  }

  &__item-field-wrap {
    margin-top: 3.2rem;
  }

  &__item {
    width: 50%;
    @include bp(md) {
      position: absolute;
      left: -100%;
      width: 100%;
    }
    &:first-child {
      font-size: 0;
      border-right: 1px solid black;
    }
    &.active {
      @include bp(md) {
        position: static;
      }
    }

    &-label {
      background-color: #339a89;
      color: white;
      padding: 1rem;
      display: block;
      font-family: "Roboto", sans-serif;
      width: 50%;
      text-align: center;
      border-right: solid 1px black;
      @include bp(md) {
        cursor: pointer;
      }
      &.active {
        @include bp(md) {
          background-color: #26695e;
          cursor: unset;
        }
      }
    }
    &-field {
      width: 100%;
      overflow: scroll;
      padding: 2rem;
      border: none;
      height: calc(100vh - 51px - 50px);
      background-color: white;
      @include bp(md) {
      }
      blockquote {
        border-left: 3px solid #224b4b;
        color: #224b4b;
        padding-left: 5px;
        margin-left: 25px;
      }
      > p > code {
        padding: 3px;
      }
      code {
        background: white;
        font-size: 0.875rem;
        font-weight: bold;
      }
      pre {
        display: block;
        overflow: auto;
        background: white;
        padding: 5px;
        line-height: 1.2;
      }
      h1 {
        border-bottom: 2px solid #224b4b;
      }
      h2 {
        border-bottom: 1px solid #224b4b;
      }
      table {
        border-collapse: collapse;
      }
      td,
      th {
        border: 2px solid #224b4b;
        padding-left: 5px;
        padding-right: 5px;
      }
      img {
        display: block;
        max-width: 90%;
        margin: 2rem auto;
      }
    }
    &-output {
      font-family: "Roboto", sans-serif;
      line-height: 1.5;
      border-left: solid black 1px;
    }
  }
}
